[Unit]
Description=%i app container
After=docker.service
Requires=docker.service

[Service]
# Enable %i.conf to override global.conf
# as described in systemd.exec(5).
EnvironmentFile=/etc/wormhole/global.conf
EnvironmentFile=/etc/wormhole/%i.conf
ExecStartPre=/bin/bash -c '/usr/bin/docker inspect %i &> /dev/null && /usr/bin/docker rm %i || :'
ExecStart=/usr/bin/docker run --rm -t \
  -m ${max_ram} \
  -c 1023 \
  --volumes-from %i-data \
  -p ${PORT}:2222 \
  -h ${sandbox_hostname} \
  --name %i \
  -v /etc/wormhole/login_duo.conf:/etc/duo/login_duo.conf:ro \
  -e instance=%i \
  -e DUO=${DUO} \
  ${base_image}
ExecStop=/usr/bin/docker stop %i
RestartSec=5s
Restart=always

[Install]
WantedBy=multi-user.target
